@import url("https://fonts.googleapis.com/css2?family=Barlow+Condensed:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Barlow:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Cousine:ital,wght@0,400;0,700;1,400;1,700&family=DM+Mono:ital,wght@0,300;0,400;0,500;1,300;1,400;1,500&family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Outfit:wght@100..900&family=Plus+Jakarta+Sans:ital,wght@0,200..800;1,200..800&display=swap");

.noticias-admin-input {
  background-color: #1a2e45;
  font-family: Barlow;
  font-weight: 400;
  font-style: Regular;
  font-size: 14px;
  color: #8ba3bc;
  line-height: 100%;
  letter-spacing: 0px;
  border: solid 1px #ffffff14;
  padding: 10.5px 17px 10.5px 37px;
  border-radius: 4px;
}

.imagem-noticia-admin {
  width: 40px;
  height: 40px;
  border-radius: 4px;
}

.addnoticia-button {
  font-family: Barlow;
  font-weight: 600;
  font-style: SemiBold;
  font-size: 14px;
  line-height: 20px;
  letter-spacing: 0px;
  text-align: center;
  padding: 8px 16px 8px 16px;
  border-radius: 4px;
  border: none;
  color: white;
  background-color: #009c3b;
  cursor: pointer;
  display: flex;
  align-items: center;
  margin-right: 340px;
}
.noticias-admin-inputs {
  display: flex;
  justify-content: space-between;
  padding: 20px 31px;
}

.noticias-admin-page {
  background-color: #0d1b2a;
  height: 100vh;
}

.noticias-admin-titulo-autor {
  display: flex;
  align-items: center;
  font-family: DM Mono;
  font-weight: 500;
  font-style: Medium;
  font-size: 12px;
  color: #ffffff;
  line-height: 16px;
  letter-spacing: 0px;
  padding: 12px 0px 13px 16px;
  border-bottom: solid 1px #ffffff14;
  gap: 511px;
  width: 790px;
}

.noticia-admin {
  color: white;
  display: flex;
  position: relative;
  align-items: center;

  padding: 13px 0px 13px 10px;
}

.imagem-titulo-noticia-admin {
  display: flex;
  align-items: center;
  gap: 12px;
}

.lista-noticias-admin {
  display: flex;
  flex-direction: column;
  width: 790px;
  min-height: 41px;
}

.titulo-noticia-admin {
  font-family: Barlow;
  font-weight: 600;
  font-style: SemiBold;
  font-size: 14px;
  line-height: 20px;
  letter-spacing: 0px;
}

.autor-noticia-admin {
  position: absolute;
  left: 570px;
  font-family: Barlow;
  font-weight: 400;
  font-style: Regular;
  font-size: 14px;
  line-height: 20px;
  letter-spacing: 0px;
}

.noticias-admin-page {
  display: flex;
  flex-direction: column;
}

.noticias-admin-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  align-items: flex-start;
  margin-left: 30px;
  border: solid 1px #ffffff14;
  width: 810px;
  border-radius: 8px;
}

.button-editar-noticia-admin,
.button-apagar-noticia-admin {
  background-color: transparent;
  border: none;
  cursor: pointer;
}

.noticia-admin-icons {
  display: flex;
  gap: 14px;
  margin-left: auto;
}

.titulo-autor-noticia-modal {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 10px;
  margin-bottom: 20px;
}

.content-modal-noticia {
  display: flex;
  flex-direction: column;
  margin-left: 5px;
  margin-top: 10px;
  height: 100px;
}

.text-area-noticia-modal {
  height: 80px;
}
.img-tempo-noticia-modal {
  display: flex;
  flex-direction: column;
  margin-top: 20px;
  margin-left: 5px;
  gap: 10px;
}

.tempo-input-noticia {
  width: 40px;
}

.tempo-input-noticias::-webkit-inner-spin-button,
.tempo-input-noticias::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
.tempo-input-noticias[type="number"] {
  -moz-appearance: textfield;
}

.titulo-autor-noticia-modal,
.content-modal-noticia,
.img-tempo-noticia-modal {
  font-family: Barlow;
  font-weight: 400;
  font-style: Regular;
  font-size: 14px;
  leading-trim: NONE;
  line-height: 20px;
  letter-spacing: 0px;
}
