.division-header-page {
  display: flex;
  height: 100%;
}

.dashboard-header {
  padding: 16px 0px 16px 39px;
  background-color: #12283f;
  width: 1920px;
  border-bottom: solid #ffffff38 1px;
}

.title-dashboard {
  font-family: Barlow Condensed;
  font-weight: 900;
  font-style: Black;
  font-size: 20px;
  line-height: 28px;
  letter-spacing: 0px;
  color: white;
}

.card-dashboard {
  display: flex;
  flex-direction: column;
  gap: 3px;
  padding: 16px;
  background-color: #009c3b17;
  width: 107px;
  height: 100px;
  border-radius: 8px;
  border: solid 1px #ffffff3d;
}
.card-number-dashboard {
  color: white;
  font-family: Barlow Condensed;
  font-weight: 900;
  font-style: Black;
  font-size: 30px;
  line-height: 36px;
  letter-spacing: 0px;
}

.card-title-dashboard {
  font-family: Barlow;
  font-weight: 400;
  font-style: Regular;
  font-size: 12px;
  line-height: 16px;
  letter-spacing: 0px;
  color: #8ba3bc;
  padding: 0;
  margin: 0;
}

.card-subtitle-dashboard {
  font-family: DM Mono;
  font-weight: 400;
  font-style: Regular;
  font-size: 12px;
  leading-trim: NONE;
  line-height: 16px;
  letter-spacing: 0px;
  color: #8ba3bc99;
}

.dashboard-main-page {
  background-color: #0f172a;
  height: 100vw;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.cards-dashboard {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 34px;
  padding-top: 32px;
}

.latestNews-header {
  display: flex;
  flex-direction: row;
  gap: 8px;
  border-bottom: #ffffff14 solid 1px;
  padding: 15px 0px 15px 16px;
  width: 672px;
  align-items: center;
}

.latestNews-title-header {
  font-family: Barlow Condensed;
  font-weight: 700;
  font-style: Bold;
  font-size: 14px;
  leading-trim: NONE;
  line-height: 20px;
  letter-spacing: 0px;
  color: white;
}

.latestNews-dashboard {
  margin-top: 32px;
  display: flex;
  flex-direction: column;
  border: solid 1px #ffffff14;
  width: 688px;
  border-radius: 6px;
}

.subtitle-latestNews {
  display: flex;
  align-items: center;
}

.author-latestNews {
  font-family: DM Mono;
  font-weight: 400;
  font-style: Regular;
  font-size: 12px;
  line-height: 16px;
  letter-spacing: 0px;
  color: white;
}

.span-latestNews {
  font-family: DM Mono;
  font-weight: 400;
  font-style: Regular;
  font-size: 12px;
  leading-trim: NONE;
  line-height: 16px;
  letter-spacing: 0px;
  color: #009c3b;
  padding-left: 8px;
}

.title-latestNew {
  font-family: Barlow;
  font-weight: 600;
  font-style: SemiBold;
  font-size: 14px;
  leading-trim: NONE;
  line-height: 20px;
  letter-spacing: 0px;
  color: white;
}

.latestNews-card {
  display: flex;
  align-self: flex-start;
  padding: 15px 0px 15px 16px;
  gap: 12px;
  border-bottom: solid 1px #ffffff14;
  width: 672px;
}

.latestNews-authorImage {
  width: 32px;
  height: 32px;
  object-fit: cover;
  border-radius: 4px;
  color: white;
}

.latestJogos-header {
  display: flex;
  align-items: center;
  align-self: flex-start;
  padding: 15px 0px 15px 16px;
  gap: 8px;
  background-color: #ffffff00;
  width: 717px;
  height: 41px;
  border-bottom: solid 1px #ffffff14;
}

.latestJogos-titulo-header {
  color: white;
  font-family: Barlow Condensed;
  font-weight: 700;
  font-style: Bold;
  font-size: 14px;
  line-height: 20px;
  letter-spacing: 0px;
}

.latestJogos-dashboard {
  display: flex;
  margin-top: 32px;
  flex-direction: column;
}

.time1-latestJogo {
  display: flex;
  align-items: center;
  justify-content: center;
  color: white;
  gap: 8px;
}

.name-latestJogo {
  font-family: Barlow Condensed;
  font-weight: 700;
  font-style: Bold;
  font-size: 14px;
  leading-trim: NONE;
  line-height: 20px;
  letter-spacing: 0px;
}

.resultado-latestJogo {
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: Barlow Condensed;
  font-weight: 900;
  font-style: Black;
  font-size: 18px;
  leading-trim: NONE;
  line-height: 28px;
  letter-spacing: 0px;
  color: #ffdf00;
  gap: 2px;
}

.latestJogo {
  display: flex;
  align-items: center;
  gap: 284.5px;
  padding: 16px 16px 16px 16px;
  border-bottom: solid 1px #ffffff14;
}

.latestJogos-dashboard {
  border: solid 1px #ffffff14;
  border-radius: 6px;
}
