@import url("https://fonts.googleapis.com/css2?family=Barlow+Condensed:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Cousine:ital,wght@0,400;0,700;1,400;1,700&family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Outfit:wght@100..900&family=Plus+Jakarta+Sans:ital,wght@0,200..800;1,200..800&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Barlow+Condensed:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Cousine:ital,wght@0,400;0,700;1,400;1,700&family=DM+Mono:ital,wght@0,300;0,400;0,500;1,300;1,400;1,500&family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Outfit:wght@100..900&family=Plus+Jakarta+Sans:ital,wght@0,200..800;1,200..800&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Barlow+Condensed:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Barlow:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Cousine:ital,wght@0,400;0,700;1,400;1,700&family=DM+Mono:ital,wght@0,300;0,400;0,500;1,300;1,400;1,500&family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Outfit:wght@100..900&family=Plus+Jakarta+Sans:ital,wght@0,200..800;1,200..800&display=swap");


.header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    background-color: #002776;
    padding-bottom: 30px;

    .esq {
        gap: 20px;
        display: flex;
        flex-direction: row;
        align-items: center;
        color: white;
        font-family: Barlow Condensed;
        font-weight: 900;
        font-style: Black;
        font-size: 20px;
        line-height: 28px;
        letter-spacing: 0.4px;

        img {
            width: 50px;
            gap: 20px;
        }
    }

    .dir {
        gap: 30px;
        .button {
            margin: 10px;
        }
    }

}

.header nav {
  display: flex;
  flex-direction: row;
  font-family: Barlow;
  gap: 32px;
  margin-left: 20px;
  color: gray;

  p {
    color: gray;
  }
}

.header-container-admin {
  position: sticky;
  background-color: #002776;
  display: flex;
  flex-direction: column;
  top: 0;
  left: 0;
  width: 230px;
  height: 100vh;
  margin: 0;
}

.icon-title-admin {
  display: flex;
  align-items: center;
  justify-content: center;
}

span {
  color: yellow;
}
.subtitle-admin {
  font-family: DM Mono;
  font-weight: 400;
  font-style: Regular;
  font-size: 12px;
  line-height: 16px;
  letter-spacing: 0px;
  color: white;
}

.admin-user-infos {
  display: flex;
  flex-direction: column;
}

.top-header-admin {
  padding: 16px;
}

.username-admin {
  color: white;
  font-family: Barlow;
  font-weight: 600;
  font-style: SemiBold;
  font-size: 12px;
  line-height: 16px;
  letter-spacing: 0px;
}

.useremail-admin {
  color: white;
  font-family: DM Mono;
  font-weight: 400;
  font-style: Regular;
  font-size: 12px;
  line-height: 16px;
  letter-spacing: 0px;
}

.divisoria-header-admin {
  color: transparent;
  width: 230px;
  height: 1px;
  background-color: #ffffff47;
}

.buttons{
  padding: 16px;
  gap: 16px;
}

.list-buttons-admin {
  display: flex;
  flex-direction: column;
  gap: 14px;
}

.aberto,
.fechado {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 9px 14px;
  font-family: Barlow;
  font-weight: 600;
  font-style: SemiBold;
  font-size: 14px;
  line-height: 20px;
  letter-spacing: 0px;
  align-items: center;
  border-radius: 6px;
  cursor: pointer;
  color: white;
}

NavLink {
  display: flex;
  flex-direction: row;
  padding: 32px;
}

.fechado {
  background-color: transparent;
  border: solid #ffffff78 1px;
}

.aberto {
  background-color: #009c3b;
  border: none;
}

.icon-nameButton-admin {
  display: flex;
  align-items: center;
  gap: 8px;
}

.footer-admin {
  display: flex;
  flex-direction: column;
  margin-top: auto;
}

.icon-text-sair-admin {
  display: flex;
  align-items: center;
  flex-direction: row;
  gap: 8px;
  position: fixed;
  bottom: 26px;
  left: 20px;
}

.icon-text-sair-admin p {
  color: #e85555;
  font-family: Barlow;
  font-weight: 600;
  font-style: SemiBold;
  font-size: 14px;
  line-height: 20px;
  letter-spacing: 0px;
  text-align: center;
}

.sair-divisoria-header-admin {
  position: fixed;
  bottom: 65px;
  color: transparent;
  width: 230px;
  height: 1px;
  background-color: #ffffff47;
}
